<a href="https://colab.research.google.com/github/vhfcunha/teste/blob/master/%5BONLINE%2BPRESENCIAL%5D_Google_Colab_%2B_Python_%2B_Data_Science_libs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Google Colab + Python + Data Science libs
## Tecnólogo em Inteligência Artificial Aplicada - Processamento de Linguagem Natural
Nesta atividade você entrará em contato com o ambiente de desenvolvimento completo desta disciplina (e que serão utilizadas também no decorrer do curso), que envolve o Google Colab, a linguagem de programação Python e as bibliotecas de Data Science.

## **Ambiente de desenvolvimento de Data Science/PLN**

A comunidade do Python mantém disponível dezenas de ferramentas para auxílio ao desenvolvedor de PLN/Data Science, entre elas:
*   **Numpy** - Biblioteca com várias funcionalidades numéricas/matemáticas (não incluído no material de hoje)
*   **Pandas** - Biblioteca para manipulação de dados usando dataframes
*   **Scikit-learn** - Biblioteca com funcionalidades de Machine Leaning, data mining e data analysis  (não incluído no material de hoje)
*   **Matplotlib, Seaborn** - Bibliotecas para produção de gráficos e outras visualizações
*   **Jupyter Notebook/Google Colab** - Interface/ambiente de notebook para desenvolvimento e documentação de projetos

## Configurando o ambiente - Checando dependências

In [7]:
# Importa bibliotecas necessárias - Geralmente é a primeira célula de código do seu notebook
import pandas as pd
from matplotlib import pyplot as plt
import matplotlib as mplot
import seaborn as sns
%matplotlib inline

## Google Colab/Jupyter - Atalhos e conveniências

In [8]:
# Teclas de atalho

# EXECUTAR CÉLULA: shift+enter
# INSERE CELULA ACIMA: Ctrl+m+a
# INSERE CELULA ABAIXO: Ctrl+m+b
# COMENTAR CÓDIGO: Ctrl+/

In [9]:
# Obtém ajuda sobre função
pd.read_csv??

In [10]:
# Exemplo de mensagem de erro
print(nlp)

NameError: ignored

### Acessar arquivos no Google Colab

#### 1) via Google Drive

In [ ]:
# Acesso a URL que aparecer, e copie o código de autorização abaixo - assim o Google Colab terá permissão para ler arquivos do seu Google Drive
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

In [ ]:
# Mostra listagem de arquivos na pasta raiz do Google Drive
!ls "/content/drive/My Drive"

In [ ]:
# Uma vez executada a etapa acima, sempre que você referências um arquivo do você deve colocar :
#path = "/content/drive/My Drive/CAMINHO/ATE/O/ARQUIVO/DESEJADO/"

# Exemplo - Ler o arquivo teste.txt que se encontra na pasta raiz de meu Google Drive
f = open("/content/drive/My Drive/teste.txt", "r")
print(f.read())

#### 2) Via botão de UPLOAD
Neste caso basta ir até o painel esquerdo do Google Colab, acessar a aba FILES e apertar o botão UPLOAD. Nesse caso você selecionará o arquivo desejado, que será enviado para uso na instância atual do Google Colab.

**IMPORTANTE**: O arquivo será automaticamente apagado a cada reinicio de sua instância do Google Colab.

#### 3) Via github

In [ ]:
import os
# Verifica se o arquivo já existe na instância atual.  Se não, faz download do github
if not os.path.exists('articles-data/artigo_1.txt'):
    print("Diretório ainda não existe!")
    print("Obtendo dados do github...")

    !git clone https://github.com/kunkaweb/articles-data.git
      
print('O diretório baixado contém:\n',os.listdir('articles-data'))

> **IMPORTANTE:** Você deve ficar atento com as mensagens de erro do Python, pois constantemente você precisará compreendê-las para corrigir o problema


![Python - Fluxograma de erros](https://docs.google.com/uc?export=download&id=1OsOcyHMzKIEWs1rLPdShTTn_Td-mQHjo)

## Pandas Dataframes
Pandas é um dos pacotes mais importantes de Data Science no Python. A biblioteca permite que você manipule dados de maneira semalhante a uma planilha do Excel, com dados dispostos em linhas e colunas.

**Propósito**
*   Limpar
*   Transformar
*   Analisar

**Exemplos de uso**:
*   *Calcular estatísticas e responder perguntas sobre os dados* -
Qual a média, mediana, valor máximo e mínimo de cada coluna?
Coluna A se correlaciona com a coluna B?
Como é a distribuição dos dados na coluna C?
*   *Limpar os dados* - remover valores ausentes, filtrar linhas ou colunas utilizando critérios específicos
*   *Visualizar os dados com a ajuda do Matplotlib* - Desenhar gráficos de barras, linhas, histogramas, etc.
*   *Exportar dados limpos e tranformados para arquivos (e.g., csv) ou bancos de dados*.

![Pandas - Componentes principais](https://docs.google.com/uc?export=download&id=1tdCaB202YRxSVir-5QNAtra0CpY3esWK)

`DataFrames` e `Series` são muito semelhantes, pois muitas operações podem ser feitas com uma ou com a outra (e.g., preencher valores nulos, calcular a média)

### Pandas - **Exemplo prático 1**
Uma quitanda de frutas vende maçãs e laranjas. Precisamos uma coluna para cada fruta e uma linha para cada compra do cliente.

#### **Possibilidade 1** - Criar `DataFrame` a partir de `Series`

In [2]:
# Importa a biblioteca pandas - Deve ser chamado uma única vez durante todo notebook/script
import pandas as pd

# Cria duas séries
s1 = pd.Series([3, 2, 0, 1], name='macas', dtype=int)
s2 = pd.Series([0, 3, 7, 2], name='laranjas', dtype=int)

# Cria um DataFrame a partir das Séries
# axis=1 interpreta cada série como uma coluna.  axis=2 cada série seria uma linha.
comprasDf = pd.concat([s1,s2],axis=1)

# Mostra o DataFrame
display(comprasDf)

   macas  laranjas
0      3         0
1      2         3
2      0         7
3      1         2

#### **Possibilidade 2** - Criar `DataFrame` a partir de um `dict`

In [3]:
# Cria um dicionário em Python
dados = {	
	'macas': 		[3, 2, 0, 1], 
	'laranjas':	[0, 3, 7, 2] 
}

# Cria um DataFrame a partir do dicionário
comprasDf = pd.DataFrame(dados)

# Mostra o DataFrame
display(comprasDf)

   macas  laranjas
0      3         0
1      2         3
2      0         7
3      1         2

![Pandas - DataFrame](https://docs.google.com/uc?export=download&id=1kbdy0HzfDg2BWoQKL9-xZS8NFAM9QDpy)

#### Alterando os índices do `DataFrame`

In [4]:
# Substitui índices numéricos criados automaticamente pela lista de nomes de clientes
comprasDf = pd.DataFrame(dados, index=['Lucas', 'Paulo', 'Ana', 'Maria'])

# Mostra o DataFrame
display(comprasDf)

       macas  laranjas
Lucas      3         0
Paulo      2         3
Ana        0         7
Maria      1         2

#### Coletando informações gerais sobre o `DataFrame`

In [ ]:
#Linhas x Colunas
comprasDf.shape

In [ ]:
#Índices/linhas
comprasDf.index

In [ ]:
#Colunas
comprasDf.columns

In [ ]:
#Quantidade de itens por coluna
comprasDf.count()

#### Localizando itens pelo índice

In [ ]:
# Obtém pedido do cliente Lucas
comprasDf.loc["Lucas"]

#### Contando elementos em um `DataFrame` ou `Series`

In [ ]:
# Conta quantidade de índices (clientes) no DataFrame
print(len(comprasDf))
# Conta quantidade de itens na Serie criada nas celulas anteriores
print(len(s1))

#### Aplicando funções matemáticas a um `DataFrame` ou `Series`

In [ ]:
# Calcula média dos valores de pedido do cliente Paulo
comprasDf.loc["Paulo"].mean()

In [ ]:
#Somatório das vendas de laranja (i.e., série criada nas celulas anteriores)
s2.sum()

In [ ]:
#Maior valor para cada coluna
comprasDf.max()

In [ ]:
#Menor valor para cada coluna
comprasDf.min()

In [ ]:
#Resumo estatístico do DataFrame
comprasDf.describe()

In [ ]:
#Valores médios para cada coluna
comprasDf.mean()

In [ ]:
#Medianas para cada coluna
comprasDf.median()

#### Exportar dados de `DataFrames` para arquivos

In [ ]:
# Exporta para arquivo CSV - compatível com Microsoft Excel
comprasDf.to_csv('compras.csv')

In [ ]:
# Exporta para arquivo JSON
comprasDf.to_csv('compras.json')

#### Importar dados de arquivos para `DataFrames`

In [ ]:
# Importa de arquivo CSV
csvDf = pd.read_csv('compras.csv')
display(csvDf)

In [ ]:
# Importa de arquivo CSV - CSVs não têm índices como os DataFrames, então devemos designar o index_col ao ler
csvDf = pd.read_csv('compras.csv', index_col=0)
display(csvDf)

### Pandas - **Exemplo prático 2**
Nós iremos utilizar a base de dados do IMDB, um dos maiores repositórios de informações sobre filmes existentes. Esta base contém dados de 1.000 filmes entre 2006 e 2016.
A ideia é utilizar as funcionalidades do Pandas e das demais bibliotecas de visualização para analisar os dados.

In [ ]:
# Efetua download das databases necessárias
import os
# Verifica se o arquivo já existe na instância atual.  Se não, faz download do github
if not os.path.exists('nlp-class-resources/imdb-data/IMDB-Movie-Data.csv'):
    print("Diretório ainda não existe!")
    print("Obtendo dados do github...")

    !git clone https://github.com/kunkaweb/nlp-class-resources.git
      
print('O diretório baixado contém:\n',os.listdir('nlp-class-resources/imdb-data'))

In [ ]:
# Importa arquivo CSV para um DataFrame
# Estamos carregando esse conjunto de dados de um CSV e designando os títulos dos filmes como nosso índice
movies_df = pd.read_csv("nlp-class-resources/imdb-data/IMDB-Movie-Data.csv", index_col="Title")

#### Referência visual da base de dados

In [ ]:
# Mostra as 5 primeiras linhas
movies_df.head()

In [ ]:
# Mostra as 5 ultimas linhas
movies_df.tail()

#### Alterando nome de colunas

In [ ]:
# Mostra os nomes atuais
movies_df.columns

In [ ]:
movies_df.rename(columns={
  'Runtime (Minutes)': 'Runtime',
  'Revenue (Millions)': 'Revenue_millions'
}, inplace=True)

movies_df.columns

#### Verificando e tratando dados nulos
Como lidar com valores nulos (não-existentes)?

1.   Apagar linhas ou colunas com valores nulos
2.   Substituir valores nulos por não-nulos

In [ ]:
# Mostra quais células do DataFrame são nulas
# Observe que isnull() retorna um DataFrame em que cada célula é True ou False, dependendo do status da célula
movies_df.isnull()

In [ ]:
# Conta o número de nulos em cada coluna
movies_df.isnull().sum()

##### Opção 1 - Removendo nulos

In [ ]:
# Cria um novo DataFrame sem as linhas que contém valores nulos
new_df = movies_df.dropna()
new_df.shape

In [ ]:
# Perceba que o DataFrame original não é alterado
movies_df.shape

In [ ]:
# Neste caso as colunas que contiverem valores nulos serão descartadas
new_df = movies_df.dropna(axis=1)
new_df.shape

##### Opção 2 - Substituindo nulos

In [ ]:
# Extrai a coluna "revenue_millions" - teremos uma Series na variável revenue
revenue = movies_df['Revenue_millions']
revenue.head()

In [ ]:
# Obtém a média de revenue
revenue_mean = revenue.mean()
revenue_mean

In [ ]:
# A função fillna preencherá todos valores nulos com a valor da média que calculamos
# A parâmetro inplace=True define que as alterações também serão feitas no DataFrame original de onde tiramos esta Series
revenue.fillna(revenue_mean, inplace=True)

In [ ]:
# Não há mais valores nulos na coluna Revenue_millions
movies_df.isnull().sum()

#### Entendendo os dados

In [ ]:
# Resumo de distribuição do DataFrame
movies_df.describe()

In [ ]:
# Resumo da coluna genre
# Mostra que a coluna de gênero tem 207 valores únicos, o valor mais alto é “Ação/ Aventura/Ficção Científica”, que aparece 50 vezes (frequência)
movies_df['Genre'].describe()

In [ ]:
# Mostra a frequência de todos valores
movies_df['Genre'].value_counts().head(10)

In [ ]:
# Mostra o índice de correlação entre colunas
movies_df.corr()

*   As tabelas de correlação são uma representação numérica dos relacionamentos entre duas variáveis no dataset
*   A amplitude do índice de correlação é de -1 até +1 
*   Números positivos indicam uma correlação positiva e números negativos representam uma correlação negativa. Quando o índice = 1.0 indica uma correlação perfeita
*  Observando o resultado,  vê-se que a correlação entre “votes” e “revenue_millions” é de 0.6

#### Extraindo colunas do DataFrame

In [ ]:
subset = movies_df[['Genre', 'Rating']]
subset.head()

#### Extraindo linhas do DataFrame

In [ ]:
# Localiza pelo índice principal (nesse caso o título)
prom = movies_df.loc["Prometheus"]
prom

In [ ]:
#Localiza pelo índice numérico
prom = movies_df.iloc[1]
prom

In [ ]:
# Obtém todas linhas de Prometheus até Sing
movie_subset = movies_df.loc['Prometheus':'Sing']
movie_subset

In [ ]:
# Mesma coisa porém com o índice numérico
movie_subset = movies_df.iloc[1:4]
movie_subset

#### Seleção de dados condicionalmente

In [ ]:
# Todos filmes dirigidos por Ridley Scott serão atribuidos True na Series retornada
condition = (movies_df['Director'] == "Ridley Scott")
condition.head()

In [ ]:
# Filtra os filmes NÃO dirigidos pelo diretor
movies_df[movies_df['Director'] != "Ridley Scott"]

In [ ]:
# Filtra filmes com nota maior que 8.8
movies_df[movies_df['Rating'] >= 8.8]

In [ ]:
# Filmes dirigidos por Christopher Nolan ou Ridley Scott
movies_df[(movies_df['Director'] == 'Christopher Nolan') | (movies_df['Director'] == 'Ridley Scott')]

In [ ]:
# Filtrar todos os filmes que foram lançados entre 2005 e 2010 e tenham uma classificação acima de 8.0, mas tenham receita abaixo do 25º percentil
movies_df[ ((movies_df['Year'] >= 2005) & (movies_df['Year'] <= 2010)) 
& (movies_df['Rating'] > 8.0) 
& (movies_df['Revenue_millions'] < movies_df['Revenue_millions'].quantile(0.25)) 
]

#### Aplicando funções no DataFrame

In [ ]:
def rating_function(x):
  if x >= 8.0:
    return "bom"
  else:
    return "ruim"

# Método passa todos os valores da coluna de “rating” pela “rating_function”
movies_df["Rating_category"] = movies_df["Rating"].apply(rating_function)
movies_df.head()

#### Ordenando dados

In [ ]:
# Ordena pelo revenue de maneira descendente
print(movies_df['Revenue_millions'].sort_values(ascending=False).head(20))

In [ ]:
# Obtém os filmes mais curtos
movies_df.sort_values('Runtime').head()

## Matplotlib & Seaborn - Plotagem de gráficos
Continuaremos a trabalhar com os dados do IMDB, porém agora pensando em como plotar gráficos. As duas bibliotecas tem funções bem similares, fica a seu critério decidir qual usar.

*   Quando usarmos a variável "plt" --> matplotlib
*   Quando usarmos a variável "sns" --> seaborn

Dicas:

*   Dica 1: Para variáveis nominais (categorias), use Bar Charts e Boxplots
*   Dica 2: Para variáveis contínuas, utilize Histogramas, Scatterplots, gráficos de linhas e boxplots

In [ ]:
# Importa biblioteca matplotlib
import matplotlib.pyplot as plt 
# Atualiza tamanho padrão dos gráficos
plt.rcParams.update({'font.size': 20, 'figure.figsize': (10, 8)})

In [ ]:
# Relação entre Revenue_millions e Rating
movies_df.plot(kind='scatter', x='Rating', y='Revenue_millions', title='Revenue (millions) vs Rating');

In [ ]:
# Histograma de uma única coluna
movies_df['Rating'].plot(kind='hist', title='Rating');

In [ ]:
# Histograma usando Seaborn
sns.countplot(x='Year', data=movies_df)
plt.title('Year')
plt.show()

In [ ]:
# Histograma de duração - bins define a quantidade de intervalos que vc deseja mostrar
movies_df.Runtime.plot(kind='hist', bins=20)

In [ ]:
#Gráfico que mostra quantos filmes estão em cada gênero - Top 10
movies_df.Genre.value_counts().head(10).plot(kind='bar', title='Top 10 Movies Genres')
plt.xlabel('Genre')
plt.ylabel('Number of Movies')

In [ ]:
# Ganhos de Ridley Scott durante os anos
movies_df[movies_df['Director'] == "Ridley Scott"].sort_values("Year").plot(kind='line',x='Year',y='Revenue_millions',style='.-')

![Quartis](https://docs.google.com/uc?export=download&id=1FxT3JZPo2cYEWuXNHd8u8wFqkoAB2CLn)

In [ ]:
movies_df['Rating'].plot(kind="box");

## **ATIVIDADE PRÁTICA**
Utilizaremos dados de pacientes fictícios de um hospital. O objetivo é fixar os conceitos desenvolvidos durante a aula e se ambientar com o uso do Google Colab e ferramentas que utilizaremos no decorrer da disciplina.

### 1) Obtenha a base de dados do link abaixo e deixe-a disponível no Google Colab (via github, botão de upload ou google drive)
https://github.com/kunkaweb/nlp-class-resources/blob/master/hospital-data/patients.csv

In [ ]:
# Insira seu código aqui

### 2) Abra o arquivo CSV e carregue-o em um `DataFrame` do pandas

In [ ]:
# Insira seu código aqui

###3) Qual o tamanho da base de dados? (Quantidade de linhas e colunas)

In [ ]:
# Insira seu código aqui

###4) Mostre a quantidade de pacientes por gênero e depois plote um histograma

### 5) Crie uma nova coluna no `DataFrame` que diga se o paciente é "nativo" ou "estrageiro" - caso `ethnicity` seja igual a "american" ele é nativo.

### 6) Mostre quantos pacientes de cada raça existem. Depois plote isso em um gráfico de barras.

### 7) Mostre a quantidade de valores nulos para cada coluna.

### 8) Qual a etnia (`ethnicity`) que mais teve diagnóstico de uso de opióides?
O paciente fez uso de opióide caso a coluna `prior_opioid_abuse_diag` tenha valor igual a 1.

### 9) Mostre o índice de correlação entre as colunas

### 10) Remova as colunas: 'maiden','passport','drivers','prefix','suffix','ssn','first','last'

### 11) Altere o nome das colunas restantes para português

### 12) Exporte um arquivo CSV com as alterações feitas

## Referências & Material complementar


*   [28 useful pandas functions](https://paulovasconcellos.com.br/28-useful-pandas-functions-you-might-not-know-de42c59db085) 
*   [Seus primeiros passos como Data Scientist: Introdução ao Pandas!](https://medium.com/data-hackers/uma-introdu%C3%A7%C3%A3o-simples-ao-pandas-1e15eea37fa1)
*   [Python Pandas Tutorial: A Complete Introduction for Beginners](https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/)
*   [Python Numpy Tutorial (with Jupyter and Colab)](https://cs231n.github.io/python-numpy-tutorial/)

Este notebook foi produzido por Prof. [Lucas Oliveira](http://lattes.cnpq.br/3611246009892500).